body {
    font-family: Arial, sans-serif;
    background-color: #ffefef;
    color: #333;
    padding: 20px;
    animation: bgColorChange 3s ease-in-out forwards;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 3em;
    color: #ff4081;
    animation: fadeIn 1.5s ease-in-out;
}

nav {
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out
}

nav a {
    text-decoration: none;
    color: #ff4081;
    font-size: 1.2em;
    margin: 0 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #333;
}

section {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out;
}

section h2 {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 15px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.character-gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.character-img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.character-img:hover {
    transform: scale(1.05);
}


.character-info {
    display: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.toggle-info:checked + label + .character-info {
    display: block;
    max-height: 200px;
}


.toggle-info {
    display: none;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInModal {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

